.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);

    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    display: flex;
    justify-content: space-around;
    padding: .8rem;
}