
.task-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr) );
    gap: 4px;
}

.task-card-container{
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: 100ms;
}

.faded-card{
    filter: saturate(0) opacity(.3);
}

.task-card-image-section{
    height: 64px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.task-card-description{
    display: flex;

    justify-content: center;
    align-items: center;
    height: 48px;
    text-align: center;
    margin-top: 8px;
}